<%- include('parts/head1') %>

	<body>

		<!--PreLoader-->
		<div class="loader">
			<div class="loader-inner">
				<div class="circle"></div>
			</div>
		</div>
		<!--PreLoader Ends-->
		<div class="breadcrumb-section breadcrumb-bg" style="background-image: url(/img/leaf4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p></p>
							<h1>辨識結果</h1>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="feature-bg" style="">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<img src="img/upload/1b135b58-5301-4766-8d2c-989fc85680e0.jpg" alt="" style="width: 400px;">
					</div>
					<div class="col-lg-7">
						<div class="featured-text">
							<h2 class="pb-3">植物狀態: </h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
									<div class="list-box d-flex">
										<div class="list-icon">
											<!-- <i class="fas fa-shipping-fast"></i> -->
										</div>
										<div class="content">
											<h3>診斷1:</h3>
											<p>1</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
									<div class="list-box d-flex">
										<div class="list-icon">
											<!-- <i class="fas fa-money-bill-alt"></i> -->
										</div>
										<div class="content">
											<h3>診斷2:</h3>
											<p>2</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
									<div class="list-box d-flex">
										<div class="list-icon">
											<!-- <i class="fas fa-briefcase"></i> -->
										</div>
										<div class="content">
											<h3>診斷3:</h3>
											<p>3</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="list-box d-flex">
										<div class="list-icon">
											<!-- <i class="fas fa-sync-alt"></i> -->
										</div>
										<div class="content">
											<h3>診斷4:</h3>
											<p>3</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header -->
		<%- include('parts/menu') %>
			<!-- end search arewa -->

			<!-- breadcrumb-section -->

				<!-- footer -->
				<%- include('parts/footer') %>
					<!-- end footer -->

					<!-- copyright -->
					<!-- end copyright -->

					<!-- jquery -->
				<%- include('parts/js') %>
						<!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script> -->
						<!-- <script>
							$('img').click(function () {
								$(this).addClass('selected').parent().siblings().children().removeClass('selected');
								$('select').val(this.alt);
							});
							$('#select-d073').on('change', function () {
								// console.log($('#select-d073 option:selected').val());
								p = $('#select-d073 option:selected').val()
								console.log(p);
								$("[alt='" + p + "']").addClass('selected').parent().siblings().children().removeClass('selected');
								// console.log(m);
								// $('img').attr('alt',$('#select-d073 option:selected').val());
								// p.addClass('selected').parent().siblings().children().removeClass('selected');
							});


						</script>
 -->
	</body>

	</html>